.link{
    font-size: 27px;
    font-weight: 600;
    font-style: normal;
    text-decoration: none !important;
    color: white !important;
}

.activeLink{
    font-size: 27px;
    font-style: normal;
    font-weight: 600;
    text-decoration: none !important;
    color: #3DA9FC !important;
}

.nav{
    position: fixed;
    left: 0px;
    bottom: 0px;
    background-color: #094067;
    width: -webkit-fill-available;
    padding-top: 6px;
}

.headerButtons{
    background-color: #90B4CE;
    border-color: #90B4CE;
    font-size: 25px;
    font-style: normal;
    font-weight: bold;
    border-radius: 0%;
}