.On{
    font-size: 30px;
    font-style: normal;
    font-weight: bold;
    /* display: flex; */
    /* align-items: center; */
    /* text-align: center; */
    color: #094067 !important;
}
.Off{
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    /* display: flex; */
    /* align-items: center; */
    /* text-align: center; */
    color: white;
}